################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrvaAplikacija/PrvaAplikacija/bin/Debug
/PrvaAplikacija/.vs/PrvaAplikacija
